:root {
  /* Colors*/
  --primary-color: #1d957f;
  --secondary-color: #4285f4;
  --grey: #616161;
  --black: #000000;
  --background-blue: #fafbfd;
  --background-white: #ffffff;
  /*Fonts*/
  --font-body: "Rubik", sans-serif;
  --font-button: "Raleway", sans-serif;
  /*Font sizes*/
  --biggest: 4.4rem;
  --big: 3.6rem;
  --middle: 2.2rem;
  --normal: 1.6rem;
  --small: 1.2rem;
  --smaller: 1.1rem;
  --smallest: 0.9rem;
  /*Line heigth*/
  --line-paragraph: 1.662rem;
  --line-big-title: 5.544rem;
  --line-medium-title: 6.6rem;
  --line-normal-title: 2.216rem;
  /*Otros*/
  --box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
}

html {
  font-size: 62.5%;
  font-family: var(--font-body);
}

/*COMPOSITION*/

.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

/*UTILITIES*/

.icon {
  display: inline-block;
  width: 44px;
  height: 44px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.mobile-menu {
  background-image: url(../images/icons/menu-mobile.svg);
  cursor: pointer;
}

.play {
  background-image: url(../images/icons/play-icon.svg);
}

.sympthoms {
  background-image: url(../images/icons/sintomas.svg);
}

.nurse {
  background-image: url(../images/icons/enfermera.svg);
}

.health {
  background-image: url(../images/icons/salud.svg);
}

.black-space {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 11.4rem;
  background-color: rgba(0, 0, 0, 0.5);
  width: 15vw;
  height: calc(100vh - 11.4rem);
}

.menu-display {
  display: none;
}

.small-fs {
  font-size: var(--small);
}

.smaller-fs {
  font-size: var(--smaller);
}

.smallest-fs {
  font-size: var(--smallest);
}

.green-bg {
  background-color: var(--primary-color);
}

p {
  font-size: var(--normal);
  line-height: var(--line-paragraph);
  color: var(--grey);
}

strong {
  color: var(--primary-color);
}

/*BLOCK*/

/*--Block header*/

.header {
  position: static;
  top: 0;
  z-index: 2;
  height: 11.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.6rem;
  background-color: var(--background-white);
}

.header ul[role="menu"] {
  --flow-space: 2.4rem;
  position: fixed;
  z-index: 2;
  left: 10vw;
  top: 11.4rem;
  margin-top: 0;
  padding: 6.7rem 0 0 1rem;
  width: 95vw;
  height: calc(100vh - 11.4rem);
  font-family: var(--font-button);
  background-color: var(--primary-color);
  color: var(--background-white);
  font-size: var(--normal);
  font-weight: bold;
}

.header ul[role="menu"] li {
  padding: 1rem 0 1rem 5.8rem;
}

.header ul[role="menu"] li:hover {
  background-color: #006350;
}

/*--Block hero*/

.hero {
  padding: 0 1.8rem;
}

/*--Block hero-intro*/

.hero-intro article {
  max-width: 36rem;
  margin-left: auto;
  margin-right: auto;
}

.hero-intro h1 {
  font-size: var(--biggest);
  line-height: var(--line-big-title);
  text-align: center;
}

.hero-intro p {
  text-align: center;
}

.hero-intro section {
  --flow-space: 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-intro section a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--black);
  letter-spacing: 0.165ch;
}

.hero-intro img {
  margin: 4.4rem auto 0;
  width: 100%;
  max-width: 395px;
}

/*--Block hero-functions*/

.hero-functions-container {
  position: relative;
  max-width: 360px;
  margin-top: 11.2rem;
  margin-left: auto;
  margin-right: auto;
}

.hero-functions {
  width: 80%;
  padding: 8rem 1.4rem 1.4rem;
  border: 3px solid var(--primary-color);
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
}

.hero-functions::before {
  position: absolute;
  top: 12%;
  left: 4.58%;
  content: "";
  width: 18px;
  height: 100px;
  background-color: var(--primary-color);
  border-radius: 17px 0 0 17px;
}

.hero-functions h2 {
  margin-top: 1.6rem;
  margin-bottom: 1.1rem;
  font-size: var(--middle);
  line-height: 2.7rem;
  text-align: center;
}

.hero-functions p {
  text-align: center;
}

.hero-functions img {
  max-width: 260px;
  margin-left: auto;
  margin-right: auto;
}

.dot-container {
  display: flex;
  justify-content: center;
  margin-top: 6.4rem;
  gap: 7px;
}

.dot-container div {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: var(--grey);
}

.dot-container div:nth-child(2) {
  background-color: var(--primary-color);
}

/*--Block hero-cta*/

.hero-cta {
  --flow-space: 1.6rem;
  padding: 4rem 0;
}

.hero-cta h2 {
  font-size: var(--big);
  text-align: center;
}

.hero-cta p {
  text-align: center;
}

.hero-cta div {
  display: flex;
  justify-content: center;
}

/*--Block button*/

.button {
  margin-left: auto;
  margin-right: auto;
  min-width: 14.4rem;
  min-height: 4rem;
  border: 0;
  border-radius: 5px;
  padding: 1.4rem;
  color: var(--background-white);
  font-weight: bold;
  letter-spacing: 0.14ch;
}

/*--Block features*/

.features {
  padding: 7.2rem 1.8rem;
  background-color: var(--background-blue);
}

.features-container {
  --flow-space: 4rem;
}

/*--Block counter*/

.counter {
  margin-bottom: 7rem;
  padding: 2.8rem 0;
}

.counter .stacking-context {
  --flow-space: 1.6rem;
  background-color: var(--background-white);
  text-align: center;
  border-radius: 16px;
  box-shadow: var(--box-shadow);
}

.counter h2 {
  color: var(--primary-color);
  font-size: var(--big);
  letter-spacing: 0.14ch;
}

.counter h3 {
  font-size: var(--smaller);
  letter-spacing: 0.37ch;
}

.features-text {
  --flow-space: 2.4rem;
}

.features-text h2 {
  font-size: var(--biggest);
  line-height: var(--line-big-title);
  text-align: center;
}

.features-text p {
  color: var(--grey);
  text-align: center;
}

.video-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 1.6rem;
  max-width: 52rem;
  width: 100%;
  min-height: 18.5rem;
  max-height: 28.4rem;
  height: 23%;
  background-color: var(--background-white);
  border-radius: 16px;
  box-shadow: var(--box-shadow);
}

.video-container picture {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
}

.video-container img {
  height: 90%;
}

.video-container .play {
  position: absolute;
  top: calc(50% - 13px);
  left: calc(50% - 13px);
  width: 26px;
  height: 26px;
}

.features-text div {
  display: flex;
  justify-content: center;
}

.services {
  padding: 4rem 1.8rem;
}

.services h2 {
  font-size: var(--big);
  line-height: var(--line-big-title);
  text-align: center;
  padding-bottom: 1.6rem;
}

.services p {
  text-align: center;
}

.services h3 {
  font-size: var(--normal);
  letter-spacing: 0.08ch;
  text-align: center;
  padding-bottom: 0.6rem;
}

.service-description {
  padding-bottom: 3.2rem;
  max-width: 48.4rem;
  margin-left: auto;
  margin-right: auto;
}

.service-container {
  --flow-space: 4rem;
  display: flex;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
  padding: 0 3rem;
  max-width: 97.8rem;
  margin-left: auto;
  margin-right: auto;
}

.service-container article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 28rem;
  width: 100%;
  max-width: 27.5rem;
  padding: 4rem 2.5rem;
  border-radius: 8px;
}

.service-container article:nth-child(odd) {
  box-shadow: var(--box-shadow);
}

footer {
  display: flex;
  justify-content: center;
  gap: 5rem;
  flex-wrap: wrap;
  padding-bottom: 3rem;
}

/*EXCEPTIONS*/

.icon[type="mobile-menu"] {
  background-size: contain;
  width: 35px;
  height: 20px;
}

.icon[location="video-link"] {
  width: 40px;
  height: 40px;
  margin-right: 2rem;
}

.icon[location="services"] {
  width: 72px;
  height: 72px;
  background-size: contain;
  margin: 0 auto;
}
