:root {
  /* Colors*/
  --primary-color: #1d957f;
  --secondary-color: #4285f4;
  --grey: #616161;
  --black: #000000;
  --background-blue: #fafbfd;
  --background-white: #ffffff;
  /*Fonts*/
  --font-body: "Rubik", sans-serif;
  --font-button: "Raleway", sans-serif;
  /*Font sizes*/
  --biggest: 4.4rem;
  --big: 3.6rem;
  --normal: 1.6rem;
  --small: 1.1rem;
  --smallest: 0.9rem;
  /*Line heigth*/
  --line-paragraph: 1.662rem;
  --line-big-title: 5.544rem;
  --line-medium-title: 6.6rem;
  --line-normal-title: 2.216rem;
  /*Otros*/
  --box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
}

html {
  font-size: 62.5%;
  font-family: var(--font-body);
}

/*COMPOSITION*/

.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

/*UTILITIES*/

.icon {
  display: inline-block;
  width: 44px;
  height: 44px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.mobile-menu {
  background-image: url(../images/icons/menu-mobile.svg);
}

/*BLOCK*/

.header {
  height: 11.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.6rem;
}

.header ul[role="menu"] {
  display: none;
}

/*EXCEPTIONS*/

.icon[type="mobile-menu"] {
  background-size: contain;
  width: 35px;
  height: 20px;
}
